.background {
  viewport-fill: black;
}

#weather_location {
  font-size: 16;
  font-family: System-Regular;
  text-length: 18;
  text-anchor: end;
  fill: #a0a0a0;
}

#weather_temp {
  font-size: 30;
  font-family: System-Regular;
  text-length: 7;
  text-anchor: end;
  fill: whitesmoke;
}

#weather_icon {
  width: 64;
  height: 64;
  fill: whitesmoke;
}

#label_battery {
  font-size: 16;
  font-family: System-Regular;
  text-length: 4;
  text-anchor: middle;
  fill: #a0a0a0;  
}

#label_time {
  font-size: 92;
  font-family: System-Regular;
  text-length: 5;
  text-anchor: end;
  fill: whitesmoke;
}

#label_seconds {
  font-size: 48;
  font-family: System-Regular;
  text-length: 3;
  text-anchor: start;
  fill: whitesmoke;
}

#label_ampm {
  font-size: 29;
  font-family: System-Regular;
  text-length: 3;
  text-anchor: end;
  fill: #a0a0a0;
}

#label_date {
  font-size: 26;
  font-family: System-Regular;
  text-length: 30;
  text-anchor: middle;
  fill: whitesmoke;
}

.arc_back {
  width: 46;
  height: 46;
  arc-width: 3;
  start-angle: 0;
  sweep-angle: 360;
  fill: #303030;
}

.arc_front {
  width: 46;
  height: 46;
  arc-width: 3;
  start-angle: 0;
  sweep-angle: 0;
}

.icon_activity {
  width: 24;
  height: 24;
  opacity: 1;
}

#batteryLabel {
  font-size: 15;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 5%;
  y: 5%;
  fill: blue;
}

.label_activity {
  font-size: 22;
  font-family: System-Regular;
  text-length: 10;
  text-anchor: middle;
}