.background {
  viewport-fill: black;
}

#timeLabel {
  font-size: 76;
  font-family: System-Regular;
  text-length: 8;
  text-anchor: middle;
  x: 50%;
  y: 150;
  fill: whitesmoke;
}

#dateLabel {
  font-size: 26;
  font-family: System-Regular;
  text-length: 30;
  text-anchor: middle;
  x: 50%;
  y: 189;
  fill: whitesmoke;
}


#batteryLabel {
  font-size: 15;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 5%;
  y: 5%;
  fill: blue;
}


#label_steps {
  font-size: 18;
  font-family: System-Regular;
  text-length: 10;
  text-anchor: middle;
  fill: #bcd8f8;
}
#label_cals {
  font-size: 18;
  font-family: System-Regular;
  text-length: 10;
  text-anchor: middle;
  fill: #7898f8;
}
#label_active {
  font-size: 18;
  font-family: System-Regular;
  text-length: 10;
  text-anchor: middle;
  fill: #d893ff;
}
#label_heart {
  font-size: 18;
  font-family: System-Regular;
  text-length: 10;
  text-anchor: middle;
  fill: #f83c40;
}
